global
    log stdout format raw local0
    maxconn 2048
    daemon

defaults
    log     global
    option  httplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend http_in
    bind *:${PORT}
    mode http

    acl is_testbed path_beg /testbed/
    use_backend forward_testbed if is_testbed

    default_backend default_503

backend forward_testbed
    mode http
    # local tailscale outbound http proxy:
    server ts_proxy 127.0.0.1:1055

    # Transform request-line to absolute-form the proxy expects.
    # Replace DEST with the destination host:port you want to expose.
    http-request set-path http://100.88.156.14:80
    # Ensure Host header is the destination host (not the original).
    http-request set-header Host 100.88.156.14

    # optionally, remove hop-by-hop headers
    http-request del-header Proxy
    # allow server to reuse connection
    option http-server-close

backend default_503
    mode http
    errorfile 503 /etc/haproxy/errors/503.http
